# Python
__pycache__/
*.pyc
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# YOLO / Ultralytics run outputs and weights
runs/
*.pt

# MLflow
mlruns/

# Models: ignore contents, but allow DVC pointer files
models/*
!models/.gitignore
!models/*.dvc

#Screenshots
docs/